# Ignore virtual environments
venv/
.venv/

# Ignore Python cache files
__pycache__/
*.pyc

# Ignore large model files if they are already in GCS
models/
*.pb
*.index
*.data-00000-of-00001

# Ignore other non-essential files or directories
.gcloudignore
.git/
*.log
